uuid.txt
__pycache__/graphics.cpython-312.pyc
prepojenie.py~
__pycache__/skore.cpython-312.pyc
/.idea
__pycache__/prepojenie.cpython-312.pyc
*.py~
/build
dist/Connect4.exe
*.pyc
__pycache__/ukladanie.cpython-312.pyc
