.idea/discord.xml
.idea/modules.xml
.idea/misc.xml
.idea/opgp_projekt.iml
.idea/vcs.xml
uuid.txt
__pycache__/graphics.cpython-312.pyc
prepojenie.py~
.idea/misc.xml
.idea/opgp_projekt.iml
__pycache__/skore.cpython-312.pyc
.idea/misc.xml
.idea/opgp_projekt.iml
.idea/misc.xml
.idea/opgp_projekt.iml
